:root {
  --cor-fundo-principal: #0b0b0f;
  --cor-fundo-profundo: #111116;

  --cor-dourado-escuro: #5a4a22;
  --cor-dourado-principal: #b8962e;
  --cor-dourado-suave: #8a7040;
  --cor-dourado-profundo: #3a2e14;
  --cor-dourado-claro: #f0e2b0;
  --cor-dourado-destaque: #c9a84c;

  --espessura-borda: 2px;
  --deslocamento-canto-borda: -2px;

  --largura-triangulo-titulo: 9px;
  --altura-triangulo-titulo: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100%;
}

body {
  overflow: hidden;
  position: relative;
  background:
    radial-gradient(
      ellipse 40% 40% at 75% 25%,
      #0d1520 0%,
      #111a2a 30%,
      transparent 70%
    ),
    #0b0b0f;
  min-height: calc(100vh - 40px);

  padding: 5px 40px;
}

body::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  height: 80px;
  background: radial-gradient(
    ellipse 80% 100% at 50% 100%,
    #0d0f14 0%,
    transparent 100%
  );
  border-radius: 50% 50% 0 0;
}

body::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  border-radius: 50% 50% 0 0;

  height: 55px;
  background: radial-gradient(
    ellipse 70% 100% at 50% 100%,
    #101218 0%,
    transparent 100%
  );
}

/* ====== FORMAS GEOMETRICAS ======*/

.triangulo-esquerdo {
  border-top: var(--altura-triangulo-titulo) solid transparent;
  border-bottom: var(--altura-triangulo-titulo) solid transparent;
  border-right: var(--largura-triangulo-titulo) solid
    var(--cor-dourado-profundo);
}

.triangulo-direito {
  border-top: var(--altura-triangulo-titulo) solid transparent;
  border-bottom: var(--altura-triangulo-titulo) solid transparent;
  border-left: var(--largura-triangulo-titulo) solid var(--cor-dourado-profundo);
}

/* ====== ÁRVORES CENÁRIO ====== */

.arvore {
  position: absolute;

  width: 80px;
  height: 340px;

  --altura-tronco: 260px;

  --posicao-copa: 220px;
}

.arvore::before {
  content: "";
  position: absolute;

  bottom: var(--posicao-copa);
  left: 50%;
  transform: translateX(-50%);

  width: 50px;
  height: 120px;

  background: #0d0d12;
  border-radius: 50% 50% 20% 20%;
}

.arvore::after {
  content: "";
  position: absolute;

  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  width: 14px;
  height: var(--altura-tronco);

  background: #0d0d12;
}

/* POSIÇÂO DAS ÁRVORES */

.arvore.arvore-esquerda-1 {
  left: -5%;
  bottom: 2%;
}

.arvore.arvore-esquerda-2 {
  left: -1%;
  bottom: 2%;
}

.arvore.arvore-esquerda-3 {
  left: 3%;
  bottom: 2%;
}

.arvore.arvore-direita-1 {
  right: -5%;
  bottom: 2%;
}

.arvore.arvore-direita-2 {
  right: -1%;
  bottom: 2%;
}

.arvore.arvore-direita-3 {
  right: 3%;
  bottom: 2%;
}

/* ESTATURA DAS ÁRVORES */

.arvore.arvore-esquerda-1,
.arvore.arvore-direita-1 {
  --altura-tronco: 320px;
  --posicao-copa: 280px;
}

.arvore.arvore-esquerda-2,
.arvore.arvore-direita-2 {
  --altura-tronco: 290px;
  --posicao-copa: 250px;
}

.arvore.arvore-esquerda-3,
.arvore.arvore-esquerda-3 {
  --altura-tronco: 260px;
  --posicao-copa: 220px;
}

/* ====== BORDAS ======  */
.borda-ornamentada {
  position: relative;
  border: var(--espessura-borda) solid var(--cor-dourado-escuro);

  min-height: calc(100vh - 40px);

  display: flex;
}

.canto {
  position: absolute;
  border: var(--espessura-borda) solid var(--cor-dourado-principal);
  width: 10px;
  height: 10px;
}

.canto.canto-top-direito {
  top: var(--deslocamento-canto-borda);
  right: var(--deslocamento-canto-borda);
  border-left: transparent;
  border-bottom: transparent;
}

.canto.canto-top-esquerdo {
  top: var(--deslocamento-canto-borda);
  left: var(--deslocamento-canto-borda);
  border-right: transparent;
  border-bottom: transparent;
}

.canto.canto-inferior-direito {
  bottom: var(--deslocamento-canto-borda);
  right: var(--deslocamento-canto-borda);
  border-left: transparent;
  border-top: transparent;
}

.canto.canto-inferior-esquerdo {
  bottom: var(--deslocamento-canto-borda);
  left: var(--deslocamento-canto-borda);
  border-right: transparent;
  border-top: transparent;
}

.borda-ornamentada-secundaria {
  margin: 2px;
  border: var(--espessura-borda) solid var(--cor-dourado-profundo);
  padding: 2px;

  flex: 1;

  display: flex;
  flex-direction: column;
}

.borda-ornamentada-secundaria .secao-bola-ornamentada {
  display: flex;
  justify-content: space-between;
}

.bola-ornamentada {
  width: 8px;
  height: 8px;
  border-radius: 50%;

  background-color: var(--cor-dourado-escuro);
}

/* ======   SEÇÂO TÍTULO   ====== */

main {
  flex: 1;
}

.secao-titulo {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 30px 0px 50px 0px;

  padding: 20px;
  width: 100%;
}

.secao-titulo .titulo {
  color: var(--cor-dourado-claro);

  letter-spacing: 4px;
  font-size: 50px;
}

.secao-titulo .subtitulo {
  color: var(--cor-dourado-suave);
  letter-spacing: 4px;
  font-size: 10px;
}

.secao-titulo .linhas-superiores,
.secao-titulo .linhas-inferiores {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 70px;
  width: 100%;
  position: relative;
}

.secao-titulo .linha-secao-titulo {
  position: relative;

  height: 2px;
  background-color: var(--cor-dourado-profundo);
}

.secao-titulo .linhas-superiores .linha-secao-titulo {
  width: 35%;
  margin-bottom: 18px;
}

.secao-titulo .linhas-inferiores .linha-secao-titulo {
  width: 20%;
  margin-top: 18px;
}

.secao-titulo .linhas-inferiores .icone-secao-titulo {
  width: 20%;
}

.secao-titulo .linha-secao-titulo.linha-superior-esquerda::after {
  content: "";

  position: absolute;

  right: 0;
  top: 50%;
  transform: translateY(-50%);

  border-top: var(--altura-triangulo-titulo) solid transparent;
  border-bottom: var(--altura-triangulo-titulo) solid transparent;
  border-right: var(--largura-triangulo-titulo) solid var(--cor-dourado-suave);
}

.secao-titulo .linha-secao-titulo.linha-superior-direita::after {
  content: "";

  position: absolute;

  left: 0;
  top: 50%;
  transform: translateY(-50%);

  border-top: var(--altura-triangulo-titulo) solid transparent;
  border-bottom: var(--altura-triangulo-titulo) solid transparent;
  border-left: var(--largura-triangulo-titulo) solid var(--cor-dourado-suave);
}

.secao-titulo .linhas-inferiores .triangulo-direito {
  position: absolute;

  top: 50%;
  transform: translateY(20%) translateX(130%);
}

.secao-titulo .linhas-inferiores .triangulo-esquerdo {
  position: absolute;

  top: 50%;
  transform: translateY(20%) translateX(-115%);
}

/* SEÇÃO OPÇÔES MENU */

.menu-section {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px 10px;

  margin-left: 20px;
  border-left: 1px solid var(--cor-dourado-profundo);
}

.menu-section .bola-ornamentada.superior {
  position: absolute;

  transform: translateX(-180%);
  top: 0px;
}

.menu-section .bola-ornamentada.inferior {
  position: absolute;

  transform: translateX(-180%);
  bottom: 0px;
}

.menu-section .opcao-menu {
  margin-bottom: 0px;
  padding: 15px 0px;

  width: 40%;
  position: relative;
  transition:
    padding-left 0.2s ease,
    background 0.2 ease;
}
.menu-section > .opcao-menu:not(:last-child) {
  border-bottom: 1px solid var(--cor-dourado-profundo);
}

.menu-section .opcao-menu .opcao {
  transition:
    color 0.2s ease,
    text-shadow 0.2s ease;

  text-decoration: none;
  color: #a89a82;

  padding-left: 20px;
  position: relative;
}

.menu-section .opcao-menu:hover,
.menu-section .opcao-menu.ativa {
  padding-left: 10px;
}

.menu-section .opcao-menu:hover .opcao,
.menu-section .opcao-menu.ativa .opcao {
  color: var(--cor-dourado-destaque);
  text-shadow: 0 0 8px rgba(212, 175, 55, 0.5);
  text-decoration: none;
}

.menu-section .opcao-menu:hover::after,
.menu-section .opcao-menu.ativa::after {
  content: "";

  position: absolute;
  width: 10px;
  height: var(--espessura-borda);

  background-color: var(--cor-dourado-profundo);

  left: 0px;
  transform: translateX(120%) translateY(330%);
}

.menu-section .opcao-menu .triangulo-esquerdo {
  display: none;
  position: absolute;
  left: 0px;
  transform: translateY(50%);

  border-right: var(--largura-triangulo-titulo) solid
    var(--cor-dourado-destaque);
}

.menu-section .opcao-menu:hover .triangulo-esquerdo,
.menu-section .opcao-menu.ativa .triangulo-esquerdo {
  display: block;
}

/* Remove o visual padrão da opção "NOVO JOGO" quando 
passar o mouse em outra opção do MENU  */
.menu-section:has(.opcao-menu:not(.ativa):hover) .opcao-menu.ativa {
  padding-left: 0;
}

.menu-section:has(.opcao-menu:not(.ativa):hover) .opcao-menu.ativa .opcao {
  color: #a89a82;
  text-shadow: none;
}

.menu-section:has(.opcao-menu:not(.ativa):hover)
  .opcao-menu.ativa
  .triangulo-esquerdo {
  display: none;
}

.menu-section:has(.opcao-menu:not(.ativa):hover) .opcao-menu.ativa::after {
  display: none;
}
