.tela .borda-ornamentada-secundaria {
  overflow: visible;
  min-width: 0;
}

.secao-principal {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  width: 100%;
  padding: 5px 10px 0px 10px;
}

.linhas {
  display: flex;

  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 100%;
  position: relative;
}

.linhas .linha-ornamentada {
  width: 25%;
}

.icone-secao-titulo {
  width: 20%;
}

.secao-selecionar-personagem {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px 0px 0px 0px;
}

.secao-titulo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 12px;

  flex: 0 0 auto;
}

.titulo-principal {
  font-size: 22px;
  font-family: "Cinzel", sans-serif;
  letter-spacing: 5px;
  color: var(--cor-dourado-claro);

  text-align: center;
  margin: 0;
}

.secao-personagens {
  width: 100%;
  min-width: 0;

  position: relative;

  overflow-x: hidden;
  overflow-y: hidden;
}

.secao-personagens #trilha {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 15px;
  padding: 20px;

  transition: transform 0.4s ease;
  width: 100%;
}

.secao-personagens .seta {
  cursor: pointer;
  position: absolute;
  top: 40%;
  transform: translateY(-40%);

  width: 0;
  height: 0;

  border-top: 15px solid transparent;
  border-bottom: 20px solid transparent;
  z-index: 2;
}

.secao-personagens .seta-direita {
  right: 10px;

  border-left: 20px solid var(--cor-dourado-escuro);
}

.secao-personagens .seta-esquerda {
  left: 10px;

  border-right: 20px solid var(--cor-dourado-escuro);
}

.secao-personagens .seta-direita:hover {
  border-left: 20px solid var(--cor-dourado-destaque);
}

.secao-personagens .seta-esquerda:hover {
  border-right: 20px solid var(--cor-dourado-destaque);
}

.secao-personagens .personagem {
  flex: 0 0 auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  transition: transform 0.7s ease;
}

.card {
  width: 180px;
  min-height: 200px;

  background-color: #18181f;

  border: var(--espessura-borda) solid var(--cor-dourado-profundo);

  position: relative;
}

.personagem.ativo {
  transform: scale(1.08);
}

.personagem.ativo .card {
  border: var(--espessura-borda) solid var(--cor-dourado-escuro);
}

.personagem.ativo .classe-personagem {
  color: var(--cor-dourado-destaque);
}

.personagem .classe-personagem {
  font-family: "Cinzel", sans-serif;
  padding: 10px 0px;
  color: var(--cor-opcoes-inativas);
  letter-spacing: 2px;

  font-size: 14px;
}

.personagem.ativo .card::after {
  content: "SELECIONADO";
  position: absolute;
  font-family: "Cinzel", sans-serif;

  font-size: 12px;
  text-align: center;
  width: 100px;
  height: 15px;
  background-color: var(--cor-dourado-destaque);

  top: -10px;
  left: 51%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  color: #18181f;

  z-index: 2;
}

.informacao-personagem {
  display: flex;
  justify-content: space-around;

  margin: 0 auto;
  padding: 0px px;
  gap: 20px;
  width: 100%;
  min-height: 250px;
  width: 100%;
}

.informacao-personagem .card {
  width: 100%;

  max-width: 320px;
  display: flex;
  align-items: center;
  gap: 10px;

  flex-direction: column;
}

.informacao-personagem .card .subtitulo {
  font-family: "Cinzel", sans-serif;
  color: var(--cor-dourado-escuro);
  letter-spacing: 5px;
  padding: 10px 0px 0px 0px;

  font-size: 14px;
}

.informacao-personagem .card .linha-ornamentada {
  width: 90%;

  height: 1px;
}

.informacao-personagem .card .informacoes {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0px 10px;
}

.informacao-personagem .card .linha-habilidade {
  width: 100%;
  display: flex;

  gap: 10px;
}

.informacao-personagem .card .linha-habilidade img {
  width: 40px;
  height: 40px;
}

.informacao-personagem .card .linha-habilidade .nome-habilidade {
  font-size: 16px;
}

.informacao-personagem .card .linha-habilidade .efeito-habilidade {
  font-size: 14px;
}

.linha-ornamentada {
  margin: 20px 0px 0px 0px;
  height: 1px;
}

.secao-botoes {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
  padding: 0px 10px 10px 10px;
}
